.container {
    max-width: 800px;
}

.portrait {
    margin: 20px auto;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 300;
}

a:visited {
    color: #901;
}

p.pub { 
 padding-left: 1em;
}

.desc {
    width:30%;
    /* text-align: center; */
    /* color: #1772d0; */
    padding: 10px;
    margin: 0px;
    border: 0px;
    border-collapse: collapse;
}

.no-gutter > [class*='container'] {
    padding-right:0;
    padding-left:0;
}


.project {
    padding-left: 0px;
}

.container.custom-container {
    padding-left: 0px;
  }

  .mine {
    padding-left: 20px;
  }

  .verybold {
    FONT-WEIGHT: bold;
  }